[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "thirdparty/wgpu-native"]
	path = thirdparty/wgpu-native
	url = https://github.com/gfx-rs/wgpu-native
[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "thirdparty/mustache-zig"]
	path = thirdparty/mustache-zig
	url = https://github.com/batiati/mustache-zig
